<h2>Appointment Approved</h2>
<p>Dear <%= patientName %>,</p>
<p>
  Your appointment with Dr. <b><%= doctorName %></b> on <%= appointmentDate %> at
  <%= appointmentTime %> has been <b>approved</b>.
</p>
<p>Thank you for choosing MedCare.</p>
