<h2>Appointment Declined</h2>
<p>Dear <%= patientName %>,</p>
<p>
  We regret to inform you that your appointment with Dr. <b><%= doctorName %></b>
  on <%= appointmentDate %> at <%= appointmentTime %> has been
  <b>declined</b>.
</p>
<p>Please contact us to reschedule.</p>
